/* Navbar style start */
#navbar{
    flex-wrap: nowrap;
    margin: 0 5%;
}
.navbar{
    animation-duration: 2s;
    animation-name: navbar;
}
#dropdownId{
    color: white;
    font-weight: 400px;
    margin-left: 2%;
}
#dropdownId:nth-child(2){
    border-bottom: 2px solid white;
}
#dropdownId:hover{
    color: red;
}
#dropdownId:nth-child(2):hover{
    border-bottom: 2px solid red;
}
/* Animation navbar */

@keyframes navbar {
    from {
        margin-left: 20%;
      }
      
      to {
        margin-left: 3%;
      }   
}
/* Navbar style end */


/* section style start */
#sport{
    background-color: rgb(104, 102, 99);
    display: flex;
    text-align: center;
}
#sport-img{
    margin: 2% 2% 10% 10%;
}
#sport-h1{
    margin-top: 3%;
}
#sport-h4{
    margin-top: 5%;
    margin-bottom: 8%;
}
#sport-p{
    margin-left: 15%;
width: 70%;
}
/* section style end  */

/* Main style start */

#main{
    width: 100%;
    background: rgb(104, 102, 99);
}
.main{
    width: 800px;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 2%;
    color: black;
    animation-duration: 2s;
    animation-name: main;
    background: rgb(104, 102, 99);
}
.main-h4{
    margin-bottom: 5%;
}
.skil-item{ 
    height: 100%;
    margin-right: 1%;
}
.skil{
    width: 100%;
    background: black;
}
#skil-1{
    color: black;
    height: 100%;
    background: rgb(155, 0, 0);
    width: 79%;
}
#skil-2{
    color: black;
    height: 100%;
    background: rgb(155, 0, 0);
    width: 89%;
}
#skil-3{
    color: black;
    height: 100%;
    background: rgb(155, 0, 0);
    width: 60%;
}
#skil-4{
    color: black;
    height: 100%;
    background: rgb(155, 0, 0);
    width: 20%;
}
#skil-5{
    color: black;
    height: 100%;
    background: rgb(155, 0, 0);
    width: 89%;
}

/* Main style and */





.footer{
    width: 100%;
    color: white;
    display: flex;
    background: rgb(46, 46, 46);
    padding: 3% 5%;
}
.footer-item{
    text-align: start;
    list-style-type: none ;
    font-size: 0.8srem;
}
.footer-name{
    font-size: 1.2rem;
    margin-left: 10%;
}